<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>10 avenue Nelson Mandela, 59290 Wasquehal</li>
          <li>06 51 13 73 50 - plomberiebenoit@gmail.com</li>
          <li>SIRET: 82014806200012</li>
        </ul>
      </div>
    </div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2528.746264038047!2d3.1325655507868815!3d50.66897147937639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c329a4c9ee6b03%3A0xf8850b1d5a499cba!2sAvenue+Nelson+Mandela%2C+59290+Wasquehal!5e0!3m2!1sfr!2sfr!4v1477336601579" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>


  </div>



</footer>
