<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>10 avenue Nelson Mandela, 59290 Wasquehal</li>
          <li>06 51 13 73 50 - plomberiebenoit@gmail.com</li>
          <li>SIRET: 82014806200012</li>
        </ul>
      </div>
    </div>

 <div class="footer-partners">
       Partenaires: 
<a href="http://www.jusseo.com/">www.jusseo.com</a>
      </div>

  </div>

</footer>
